$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$poppìns-font: "Poppins", sans-serif;
$merriweather-font: "Merriweather", serif;

$background-color: #2B2D38;
$gray: #ABABAB;
$white: #FFFFFF;
$pink: #DB2A6B;