@use './../abstracts/variables'  as *;
@use './../abstracts/mixins'  as *;


a.primary {
    @include reset-link();
    color: $white;
    padding: 10px 60px;
    background-color: $pink;
    border-radius: 12px 12px 12px 0;
}

a.secondary {
    color: $white;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
