@use './../abstracts/variables'  as *;

article.item {
    display: flex;
    align-items: center;
    column-gap: 12px;

    div {
        background-color: #FFFFFF40;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    h2 {
        font-size: 18px;
        font-weight: 600;
        color: $white;
        width: min-content;
    }

}