@use './../abstracts/mixins'  as *;
@use './../abstracts/variables'  as *;

header {
    display: flex;
    justify-content: space-between;
    
    ul {
        @include reset-list();
        display: flex; 
        column-gap: 48px;

        a {
            position: relative;
            @include reset-link();
        }

        a::before {
            content: "";
            position: absolute;
            bottom: -10px;
            height: 2px;
            width: 0;
            background-color: $pink;
            transition: width .5s;
        }
        
        a:hover::before {
            width: 100%;  
        }
    }

}